@model IEnumerable<tour.Models.tblBooking>


@{
    ViewBag.Title = "bookinglist";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="~/Content/Sidebar.css" rel="stylesheet" />

<style>
    table {
        background-color: #fff;
    }

        table th {
            background-color: #f2f4f7;
            padding: 10px !important;
        }

    .bookinglist {
        color: #fb3535 !important;
        font-weight: 600;
        font-family: 'Century Gothic';
    }
  

    .btn  a{
        color: #fff !important;
    }


    .btn-danger {
        color: #FFFFFF;
        background-color: #f44336!important;
        border-color: #f44336;
        box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
        top: 10px;
        height: 43px;
        width: 85px;
    }


    .btn-danger {
        width: 150px !important;
        border-radius: 30px !important;
        border: none;
        border-radius: 3px;
        position: relative;
        padding: 12px 30px;
        margin: 50px 0px 20px 0px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0;
        will-change: box-shadow, transform;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }  
   

</style>


<body>
    <div class="row">
        <div class="col-lg-9">
            <button class="btn btn-danger">
                @Html.ActionLink("Create New", "Create")
            </button>
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TourId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TourId)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.BookingId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.BookingId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.BookingId })
                        </td>
                    </tr>
                }

            </table>


        </div>
    </div>



</body>

